---
layout: default
---
{% include intro.html %}

<marquee><font color="#ff0084" style="font-size:3em;">FutureTech AVL 2016 is here.</p></marquee>

<table style="width:70%;margin-left:auto;margin-right:auto;">
  <tbody>
    <tr>
      <td><b>When</b></td>
      <td><font color="red">May 14th and 21st</font>. Play begins at 7.15 AM and in the evening from 4 PM on both days. There is also a reserve day, May 28th. We will make sure that the timings will not conflict with ACL.</td>
    </tr>
    <tr>
      <td><b>Where</b></td>
      <td><a target="_blank"
                     href="http://maps.google.com/maps?rlz=1C1TSND_enUS407US407&um=1&ie=UTF-8&cid=0,0,16380523778810057374&fb=1&hq=ocee+park&hnear=0x88f58523717bebd7:0x1f85f06242e1c19d,Cumming,+GA&gl=us&daddr=10900+Buice+Road,+Alpharetta,+GA+30022-6553&geocode=7724407231857254244,34.045604,-84.239076&ei=VU5LTrLSMMXngQfO24Rz&sa=X&oi=local_result&ct=directions-to&resnum=1&ved=0CEEQngIwAA"
                  >Ocee Park - 10900 Buice Road, Alpharetta, GA 30022-6553</a>
      </td>
    </tr>
    <tr>
      <td><b>Registration</b></td>
      <td>Fee is <font color="red">$120 for a team of <strong>6 players.</strong></font>. Each additional player is $20. Only the registered 8 players, on or before May 14th, will be qualified to play in rest of the remaining games like quarters, semis and finals.
      <br></br>
      Rally scoring. 21 point sets.
      <br></br>
      <font color="red">Register by emailing the team name and player details to <a href="mailto:funpluscharity@gmail.com">funpluscharity@gmail.com</a></font>
      </td>
    </tr>
    <tr>
      <td><b>Where will be my money spent?</b></td>
      <td>If you know a good cause. Let us know!</td>
    </tr>
    <tr>
      <td><b>Format</b></td>
      <td>To be determined</td>
    </tr>
    <tr>
      <td><b>Ball that will be used for the tournament. <a
                        href="http://www.amazon.com/Wilson-Illuminator-Glow-Outdoor-Volleyball/dp/B00882EQD4"
                     >Click here to purchase.</a></b></td>
      <td><img src="http://www.wilson.com/servlet/resize/82465/1200/1200/WTH4613_AVP_Illuminator/"
                     width="300px" height="300px"/>
      </td>
    </tr>
  </tbody>
</table>

<section class="post-list">
    <div class="container">
        {% for post in paginator.posts %}
            <div class="post-preview">
                <span class="post-title alignable pull-left">
                    <a class="post-link underline" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </span>
                <span class="post-time alignable pull-right">
                    <time>{{ post.date | date: '%B %d, %Y '}}</time>
                </span>
                <div style="clear:both"></div>
            </div>
        {% endfor %}
    </div>
</section>
